.layout {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f3f3f3;
}

.layout__header {
  position: relative;
  height: 40px;
  padding: 0 40px;
  background: #9c109c;
  background: #8c0188;
  text-align: center;
}

.layout__back {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background: url('../Layout/img/arrow-left.svg') center no-repeat;
  background-size: 16px 16px;
}

.layout__logo {
  position: relative;
  display: inline-block;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 42px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url('../Layout/img/logo.svg') center no-repeat;
    background-size: 24px 24px;
  }
}

.layout__menu {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: #f3f3f3;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.layout__content {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}