.company {
  display: block;
  width: 100%;
  //min-height: 100px;
  background: #ffffff;
  //border-radius: 2px;
  //box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding: 10px 0;

  &+& {border-top: 1px solid #e0e0e0;}
}

.inner {
  display: flex;
}

.image {
  display: block;
  width: 60px;
  height: 60px;
  background: #cccccc;
  border-radius: 2px;
}

.content {
  display: block;
  padding-left: 10px;
}

.title {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.description {
  font-size: 10px;
  line-height: 16px;
}