.company {
  display: block;
  width: 100%;
  background: #ffffff;
  padding: 10px 0;

  &+& {border-top: 1px solid #e0e0e0;}
}

.inner {
  display: flex;
}

.image {
  display: block;
  width: 60px;
  height: 60px;
  background: #cccccc;
  border-radius: 2px;
}

.image_1 {
  background: url('../Company/img/1.jpg') no-repeat;
  background-size: cover;
}

.image_2 {
  background: url('../Company/img/2.jpg') no-repeat;
  background-size: cover;
}

.image_3 {
  background: url('../Company/img/3.jpg') no-repeat;
  background-size: cover;
}

.content {
  display: block;
  padding-left: 10px;
}

.title {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.description {
  font-size: 10px;
  line-height: 16px;
}